body{
	background: #fff;
}

header{
	position: relative;
	width: 100%;
	background-color: #B1F9B8;
	border-bottom: thick dotted #FF3636;
}
header h1{
	margin: 0;
	font-size: 40px;
	font-family: 'Lobster', cursive;
	font-style: normal;
	text-align: center;
	color: #FF3636;
}

header h2{
	text-align: center;
	font-family: 'Pacifico', cursive;
	color: #51A5F3;
}

nav{
	position: relative;
	height: auto;
	width: 100%;
	margin-left: 0px;
}

nav ul{
	position: relative;
	margin-left: 0px;
	padding: 0;
	text-align: center;
}



nav ul li{
	padding: 0px 10px;
	font-size: 15px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	display: inline-block;
	text-decoration: none;
}

nav ul li a{
	text-decoration: none;
	color: #FF3636;
}

nav ul li a:hover{
	text-decoration: none;
	color: #51A5F3;
	transition-duration: 1s;
}

.contenedor_principal{
	position: absolute;
	width: 100%;
}

.foto{
	position: relative;
	display: inline-block;
	margin-left: 4px;
	width: 260px;
	height: 300px;
}

.foto img{
	position: relative;
	margin-top: 0px;
	margin-left: 12px;
	width: 200px;
	height: 200px;
	border-radius: 15px;
	box-shadow: 4px 4px 1px  #FF3636;
	transition: 1.5s ease;
}

.foto img:hover{
	transform: scale(1.3);
	box-shadow: 4px 4px 1px  #51A5F3;

	}

.foto h1{
	padding-bottom: 0;
	margin: 0;
	font-family: 'Lobster', cursive;
	font-style: normal;
	text-align: center;
	color: #FF3636;
}

.foto p{
	padding: 0;
	margin: 0;
	font-family: 'Lobster', cursive;
	font-style: normal;
	text-align: center;
	color: #51A5F3;
}

@media screen and (min-width: 767px){
	.contenedor_principal{
	position: absolute;
	width: 100%;
}

.foto{
	position: relative;
	display: inline-block;
	width: 23%;
	height: 300px;
}

.foto img{
	position: relative;
	margin-top: 0px;
	margin-left: 12px;
	width: 200px;
	height: 200px;
	border-radius: 15px;
	box-shadow: 4px 4px 1px  #FF3636;
	transition: 1.5s ease;
}
}